body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: rgb(119, 106, 106);
}
.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100vh;
}
table{
	background-color: white;
}